@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pagina de pueba</h1>
    <p>Learn about <a >pagina donde seran paginas enlazadas al index</a>.</p>

    <a class="navbar-brand" asp_area=""asp_controller="Home" 
    asp-action="Index" href="STUTP.html"></a>
     Conoce STUTP
</div>
